.container {
  padding: 50px;

  @media (max-width: 500px) {
    padding: 50px 30px;
  }
  @media (max-width: 400px) {
    padding: 50px 15px;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: #1890ff;

  svg {
    width: 40px;
    height: 40px;
  }
}
