.card {
  padding: 30px 50px 35px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
}

.submit {
  height: 36px;
  padding: 4px 20px;
  margin: 0 auto;
  display: block;
}
