.searchRow {
  margin: 0 0 20px;
  gap: 15px;
  height: 40px;

  .addContact {
    @media(max-width: 500px) {
      display: none;
    }
  }

  .addContactMobile {
    display: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    padding: 0 0 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateY(-60px);

    @media(max-width: 500px) {
      display: flex;
    }
  }

  @media(max-width: 500px) {
    gap: 0;
  }
}

.additionalInfo {
  @media (max-width: 768px) {
    display: none;
  }
}

.actionsColumn {
  @media (max-width: 500px) {
    display: none;
  }
}

.actionButton {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 5px;
  margin: 0 20px 0 0;
  cursor: pointer;

  svg {
    transition: fill ease .3s;
  }

  &:hover {
    svg {
      fill: #1890ff;
    }
  }

  &:last-child {
    margin: 0;
  }
}
